<?php
/**
 * TimeOffApi
 * PHP version 5
 *
 * @category Class
 * @package  Float\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * API Reference
 *
 * This API allows 3rd party integration of your Float data.
 *
 * OpenAPI spec version: 3.0.0-beta
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Float\Client\Api;

use \Float\Client\ApiClient;
use \Float\Client\ApiException;
use \Float\Client\Configuration;
use \Float\Client\ObjectSerializer;

/**
 * TimeOffApi Class Doc Comment
 *
 * @category Class
 * @package  Float\Client
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class TimeOffApi
{
    /**
     * API Client
     *
     * @var \Float\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Float\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Float\Client\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Float\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Float\Client\ApiClient $apiClient set the API client
     *
     * @return TimeOffApi
     */
    public function setApiClient(\Float\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation addTimeoff
     *
     * Add a new time off
     *
     * @param \Float\Client\Model\Timeoff $timeoff The time off to create (optional)
     * @throws \Float\Client\ApiException on non-2xx response
     * @return \Float\Client\Model\Timeoff
     */
    public function addTimeoff($timeoff = null)
    {
        list($response) = $this->addTimeoffWithHttpInfo($timeoff);
        return $response;
    }

    /**
     * Operation addTimeoffWithHttpInfo
     *
     * Add a new time off
     *
     * @param \Float\Client\Model\Timeoff $timeoff The time off to create (optional)
     * @throws \Float\Client\ApiException on non-2xx response
     * @return array of \Float\Client\Model\Timeoff, HTTP status code, HTTP response headers (array of strings)
     */
    public function addTimeoffWithHttpInfo($timeoff = null)
    {
        // parse inputs
        $resourcePath = "/timeoffs";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // body params
        $_tempBody = null;
        if (isset($timeoff)) {
            $_tempBody = $timeoff;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Float\Client\Model\Timeoff',
                '/timeoffs'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Float\Client\Model\Timeoff', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Float\Client\Model\Timeoff', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation deleteTimeoff
     *
     * Delete a time off record
     *
     * @param int $timeoffId time off id to delete (required)
     * @throws \Float\Client\ApiException on non-2xx response
     * @return void
     */
    public function deleteTimeoff($timeoffId)
    {
        list($response) = $this->deleteTimeoffWithHttpInfo($timeoffId);
        return $response;
    }

    /**
     * Operation deleteTimeoffWithHttpInfo
     *
     * Delete a time off record
     *
     * @param int $timeoffId time off id to delete (required)
     * @throws \Float\Client\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function deleteTimeoffWithHttpInfo($timeoffId)
    {
        // verify the required parameter 'timeoffId' is set
        if ($timeoffId === null) {
            throw new \InvalidArgumentException('Missing the required parameter $timeoffId when calling deleteTimeoff');
        }
        // parse inputs
        $resourcePath = "/timeoffs/{timeoff_id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // path params
        if ($timeoffId !== null) {
            $resourcePath = str_replace(
                "{" . "timeoff_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($timeoffId),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/timeoffs/{timeoff_id}'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
            }

            throw $e;
        }
    }

    /**
     * Operation getTimeoff
     *
     * Retrieve a single time off
     *
     * @param int $timeoffId The time off&#39;s ID (required)
     * @throws \Float\Client\ApiException on non-2xx response
     * @return \Float\Client\Model\Timeoff
     */
    public function getTimeoff($timeoffId)
    {
        list($response) = $this->getTimeoffWithHttpInfo($timeoffId);
        return $response;
    }

    /**
     * Operation getTimeoffWithHttpInfo
     *
     * Retrieve a single time off
     *
     * @param int $timeoffId The time off&#39;s ID (required)
     * @throws \Float\Client\ApiException on non-2xx response
     * @return array of \Float\Client\Model\Timeoff, HTTP status code, HTTP response headers (array of strings)
     */
    public function getTimeoffWithHttpInfo($timeoffId)
    {
        // verify the required parameter 'timeoffId' is set
        if ($timeoffId === null) {
            throw new \InvalidArgumentException('Missing the required parameter $timeoffId when calling getTimeoff');
        }
        // parse inputs
        $resourcePath = "/timeoffs/{timeoff_id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // path params
        if ($timeoffId !== null) {
            $resourcePath = str_replace(
                "{" . "timeoff_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($timeoffId),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Float\Client\Model\Timeoff',
                '/timeoffs/{timeoff_id}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Float\Client\Model\Timeoff', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Float\Client\Model\Timeoff', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getTimeoffs
     *
     * List of time off scheduled.
     *
     * @throws \Float\Client\ApiException on non-2xx response
     * @return \Float\Client\Model\Timeoff[]
     */
    public function getTimeoffs()
    {
        list($response) = $this->getTimeoffsWithHttpInfo();
        return $response;
    }

    /**
     * Operation getTimeoffsWithHttpInfo
     *
     * List of time off scheduled.
     *
     * @throws \Float\Client\ApiException on non-2xx response
     * @return array of \Float\Client\Model\Timeoff[], HTTP status code, HTTP response headers (array of strings)
     */
    public function getTimeoffsWithHttpInfo()
    {
        // parse inputs
        $resourcePath = "/timeoffs";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);


        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Float\Client\Model\Timeoff[]',
                '/timeoffs'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Float\Client\Model\Timeoff[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Float\Client\Model\Timeoff[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation updateTimeoff
     *
     * Update a time off's details
     *
     * @param int $timeoffId The time off&#39;s ID (required)
     * @throws \Float\Client\ApiException on non-2xx response
     * @return \Float\Client\Model\Timeoff
     */
    public function updateTimeoff($timeoffId)
    {
        list($response) = $this->updateTimeoffWithHttpInfo($timeoffId);
        return $response;
    }

    /**
     * Operation updateTimeoffWithHttpInfo
     *
     * Update a time off's details
     *
     * @param int $timeoffId The time off&#39;s ID (required)
     * @throws \Float\Client\ApiException on non-2xx response
     * @return array of \Float\Client\Model\Timeoff, HTTP status code, HTTP response headers (array of strings)
     */
    public function updateTimeoffWithHttpInfo($timeoffId)
    {
        // verify the required parameter 'timeoffId' is set
        if ($timeoffId === null) {
            throw new \InvalidArgumentException('Missing the required parameter $timeoffId when calling updateTimeoff');
        }
        // parse inputs
        $resourcePath = "/timeoffs/{timeoff_id}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/xml']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/xml']);

        // path params
        if ($timeoffId !== null) {
            $resourcePath = str_replace(
                "{" . "timeoff_id" . "}",
                $this->apiClient->getSerializer()->toPathValue($timeoffId),
                $resourcePath
            );
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PATCH',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Float\Client\Model\Timeoff',
                '/timeoffs/{timeoff_id}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Float\Client\Model\Timeoff', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Float\Client\Model\Timeoff', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
